.titulo {
    margin-bottom: 1.5rem;
    font-size: 1.35rem;
}

.cardCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
    padding: 1.5rem 1rem;
    box-shadow: 0 2px 16px rgba(30, 58, 138, 0.10);
}

.grupoCampos {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
}

.btnCadastro {
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #023e8a;
    color: #FFF;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.2s ease;
}

.btnCadastro:hover {
    background-color: #0051bb;
}