.cardCliente {
    width: 100%;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(30, 58, 138, 0.08);
}

.cardCliente h3 {
    margin: 0 0 0.8rem;
    font-size: 1rem;
    color: #023e8a;
}

.cardCliente p {
    margin: 0.4rem 0;
    font-size: 0.85rem;
}